<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    {{> navbar}}

    <h1>Add Product</h1>

    <form action="/admin/add-product" method="POST">
        <label for="newProduct">Product</label>
        <input type="text" name="newProduct" id="newProduct" placeholder="Product Name">
        <br>
        <label for="price">Price</label>
        <input type="text" name="price" id="price" placeholder="Price">
        <br>
        <label for="imageUrl">Image Url</label>
        <input type="text" name="imageUrl" id="imageUrl" placeholder="imageUrl">
        <br>
        <label for="description">Description</label>
        <textarea name="description" id="description"></textarea>
        <br>
        <button type="submit">Add Product</button>
    </form>
</body>

</html>