/* ---------------------- 3d Transform -------------------------- */
body {
  perspective: 800px;
}

.wrap {
  height: 300px;
  width: 250px;
  margin: 0 auto;
  /* background-color: blue; */
  transform-style: preserve-3d;
  transition-property: transform;
  transition-duration: 1s;
}

.wrap div {
  backface-visibility: hidden;
}

.wrap:hover {
  transform: rotateY(180deg);
}

.side-a {
  /* background-color: rgb(110, 110, 218); */
  height: 300px;
  width: 250px;
  position: absolute;
  z-index: 100;
  background-image: url("/img/kartik.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.side-b {
  background-color: lavender;
  height: 300px;
  width: 250px;
  position: absolute;
  transform: rotateY(180deg);
  border: 1px solid black;
}
/* ---------------------- !3d Transform -------------------------- */

/* ---------------------- GRID Properties ------------------------- */
.container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 900px;
    margin: 0 auto;
    row-gap: 30px;
}

/* ---------------------- !GRID Properties ------------------------- */



/* ---------------------- Utilities Classes ------------------------- */
.align-center{
    text-align: center;
}
/* ---------------------- !Utilities Classes ------------------------- */
