<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
</head>
<body>
    <h1>To Do List</h1>
    <form method="POST" action="/addtask">
        <input type="text" placeholder="Enter Task" name="task">
        <button type="submit">Add Task</button>
    </form>

    <ul class="tasklist">
        {{#each tasks as |task|}}
            {{#if task}}
                <li>{{task}}</li>
            {{/if}}
        {{/each}}
    </ul>
</body>
</html>